<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.BpAntiqueMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.BpAntique" >
    <id column="ANTIQUE_ID" property="antiqueId" jdbcType="VARCHAR" />
    <result column="ANTIQUE_NAME" property="antiqueName" jdbcType="VARCHAR" />
    <result column="ANTIQUE_INFO" property="antiqueInfo" jdbcType="LONGVARCHAR" />
    <result column="ANTIQUE_REMARK" property="antiqueRemark" jdbcType="LONGVARCHAR" />
    <result column="ANTIQUE_IMG_URL" property="antiqueImgUrl" jdbcType="LONGVARCHAR" />
    <result column="ANTIQUE_SOURCE" property="antiqueSource" jdbcType="VARCHAR" />
    <result column="ANTIQUE_VIDEO_URL" property="antiqueVideoUrl" jdbcType="VARCHAR" />
    <result column="ANTIQUE_SORT" property="antiqueSort" jdbcType="INTEGER" />
    <result column="ANTIQUE_IS_DEL" property="antiqueIsDel" jdbcType="INTEGER" />
    <result column="ANTIQUE_CREATE_TIME" property="antiqueCreateTime" jdbcType="TIMESTAMP" />
    <result column="ANTIQUE_UPDATE_TIME" property="antiqueUpdateTime" jdbcType="TIMESTAMP" />
    <result column="ANTIQUE_CREATE_USER" property="antiqueCreateUser" jdbcType="VARCHAR" />
    <result column="ANTIQUE_UPDATE_USER" property="antiqueUpdateUser" jdbcType="VARCHAR" />
    <result column="ANTIQUE_TYPE" property="antiqueType" jdbcType="VARCHAR" />
    <result column="ANTIQUE_DYNASTY" property="antiqueDynasty" jdbcType="VARCHAR" />
    <result column="ANTIQUE_SPECIFICATION" property="antiqueSpecification" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Aug 03 16:19:25 CST 2017.
    -->
    ANTIQUE_ID, ANTIQUE_NAME, ANTIQUE_IMG_URL, ANTIQUE_SOURCE, ANTIQUE_VIDEO_URL, ANTIQUE_SORT, 
    ANTIQUE_IS_DEL, ANTIQUE_CREATE_TIME, ANTIQUE_UPDATE_TIME, ANTIQUE_CREATE_USER, ANTIQUE_UPDATE_USER, 
    ANTIQUE_TYPE, ANTIQUE_DYNASTY, ANTIQUE_SPECIFICATION,ANTIQUE_INFO, ANTIQUE_REMARK
  </sql>
 
	<insert id="addBpAntique" parameterType="com.sun3d.why.model.BpAntique">
		INSERT INTO BP_ANTIQUE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="antiqueId != null">
				ANTIQUE_ID,
			</if>
			<if test="antiqueName != null">
				ANTIQUE_NAME,
			</if>
			<if test="antiqueInfo != null">
				ANTIQUE_INFO,
			</if>
			<if test="antiqueRemark != null">
				ANTIQUE_REMARK,
			</if>
			<if test="antiqueImgUrl != null">
				ANTIQUE_IMG_URL,
			</if>
			<if test="antiqueSource != null">
				ANTIQUE_SOURCE,
			</if>
			<if test="antiqueSort != null">
				ANTIQUE_SORT,
			</if>
			<if test="antiqueIsDel != null">
				ANTIQUE_IS_DEL,
			</if>
			<if test="antiqueCreateTime != null">
				ANTIQUE_CREATE_TIME,
			</if>
			<if test="antiqueUpdateTime != null">
				ANTIQUE_UPDATE_TIME,
			</if>
			<if test="antiqueCreateUser != null">
				ANTIQUE_CREATE_USER,
			</if>
			<if test="antiqueUpdateUser != null">
				ANTIQUE_UPDATE_USER,
			</if>
			<if test="antiqueType != null">
				ANTIQUE_TYPE,
			</if>
			<if test="antiqueDynasty != null">
				ANTIQUE_DYNASTY,
			</if>
			<if test="antiqueSpecification != null">
				ANTIQUE_SPECIFICATION,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="antiqueId != null">
				#{antiqueId,jdbcType=VARCHAR},
			</if>
			<if test="antiqueName != null">
				#{antiqueName,jdbcType=VARCHAR},
			</if>
			<if test="antiqueInfo != null">
				#{antiqueInfo,jdbcType=LONGVARCHAR},
			</if>
			<if test="antiqueRemark != null">
				#{antiqueRemark,jdbcType=LONGVARCHAR},
			</if>
			<if test="antiqueImgUrl != null">
				#{antiqueImgUrl,jdbcType=LONGVARCHAR},
			</if>
			<if test="antiqueSource != null">
				#{antiqueSource,jdbcType=VARCHAR},
			</if>
			<if test="antiqueSort != null">
				#{antiqueSort,jdbcType=INTEGER},
			</if>
			<if test="antiqueIsDel != null">
				#{antiqueIsDel,jdbcType=INTEGER},
			</if>
			<if test="antiqueCreateTime != null">
				#{antiqueCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="antiqueUpdateTime != null">
				#{antiqueUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="antiqueCreateUser != null">
				#{antiqueCreateUser,jdbcType=VARCHAR},
			</if>
			<if test="antiqueUpdateUser != null">
				#{antiqueUpdateUser,jdbcType=VARCHAR},
			</if>
			<if test="antiqueType != null">
				#{antiqueType,jdbcType=VARCHAR},
			</if>
			<if test="antiqueDynasty != null">
				#{antiqueDynasty,jdbcType=VARCHAR},
			</if>
			<if test="antiqueSpecification != null">
				#{antiqueSpecification,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="queryBpAntiqueCountByCondition" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT COUNT(*) 
		FROM BP_ANTIQUE A 
		LEFT JOIN sys_user S ON A.`ANTIQUE_UPDATE_USER` = S.`USER_ID`
		LEFT JOIN sys_user SU ON A.`ANTIQUE_CREATE_USER` = SU.`USER_ID`
		WHERE 1=1
		AND A.ANTIQUE_IS_DEL != 2
		<if test="searchKey != null and searchKey != ''">
			and (A.ANTIQUE_NAME like '%${searchKey}%' or s.USER_NICK_NAME like '%${searchKey}%' or su.USER_NICK_NAME like '%${searchKey}%')
		</if>
		<if test="antiqueName != null">
			AND A.ANTIQUE_NAME LIKE #{antiqueName}
		</if>
		<if test="antiqueIsDel != null">
			AND A.ANTIQUE_IS_DEL = #{antiqueIsDel}
		</if>
		<if test="antiqueId != null">
			AND A.ANTIQUE_ID = #{antiqueId}
		</if>
		<if test="antiqueDynasty != null">
			AND A.ANTIQUE_DYNASTY = #{antiqueDynasty}
		</if>
		<if test="antiqueType!= null">
			AND A.ANTIQUE_Type = #{antiqueType}
		</if>
	</select>
		
	<select id="queryBpAntiqueByCondition" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		SELECT
		A.ANTIQUE_ID,A.ANTIQUE_NAME,A.ANTIQUE_INFO,A.ANTIQUE_REMARK,
		A.ANTIQUE_IMG_URL,A.ANTIQUE_IS_DEL,
		A.ANTIQUE_CREATE_TIME,A.ANTIQUE_UPDATE_TIME,
		D.DICT_NAME AS ANTIQUE_TYPE,DI.DICT_NAME AS ANTIQUE_DYNASTY,
		SU.`USER_NICK_NAME` AS ANTIQUE_CREATE_USER,S.`USER_NICK_NAME` AS ANTIQUE_UPDATE_USER
		FROM BP_ANTIQUE A 
		LEFT JOIN sys_dict D on A.`ANTIQUE_TYPE` = D.`DICT_ID`
		LEFT JOIN sys_dict DI on A.`ANTIQUE_DYNASTY` = DI.`DICT_ID`
		LEFT JOIN sys_user S ON A.`ANTIQUE_UPDATE_USER` = S.`USER_ID`
		LEFT JOIN sys_user SU ON A.`ANTIQUE_CREATE_USER` = SU.`USER_ID`
		WHERE 1=1
		AND A.ANTIQUE_IS_DEL != 2
		<if test="searchKey != null and searchKey != ''">
			and A.ANTIQUE_NAME LIKE '%${searchKey}%'
		</if>
		<if test="antiqueName != null">
			AND A.ANTIQUE_NAME LIKE #{antiqueName}
		</if>
		<if test="antiqueIsDel != null">
			AND A.ANTIQUE_IS_DEL = #{antiqueIsDel}
		</if>
		<if test="antiqueId != null">
			AND A.ANTIQUE_ID = #{antiqueId}
		</if>
		<if test="antiqueDynasty != null">
			AND A.ANTIQUE_DYNASTY = #{antiqueDynasty}
		</if>
		<if test="antiqueType!= null">
			AND A.ANTIQUE_Type = #{antiqueType}
		</if>
		ORDER BY A.ANTIQUE_UPDATE_TIME desc
		limit #{firstResult},#{rows}
	</select>
	
	<select id="queryBpAntiqueById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		A.ANTIQUE_ID,A.ANTIQUE_NAME,A.ANTIQUE_INFO,A.ANTIQUE_REMARK,
		A.ANTIQUE_IMG_URL,A.ANTIQUE_IS_DEL,
		A.ANTIQUE_CREATE_TIME,A.ANTIQUE_UPDATE_TIME,
		A.ANTIQUE_TYPE,A.ANTIQUE_DYNASTY,
		SU.`USER_NICK_NAME` AS ANTIQUE_CREATE_USER,S.`USER_NICK_NAME` AS ANTIQUE_UPDATE_USER
		FROM BP_ANTIQUE A 
		LEFT JOIN sys_user S ON A.`ANTIQUE_UPDATE_USER` = S.`USER_ID`
		LEFT JOIN sys_user SU ON A.`ANTIQUE_CREATE_USER` = SU.`USER_ID`
		WHERE ANTIQUE_ID = #{antiqueId,jdbcType=VARCHAR}
		limit 0,1
	</select>
	
	<update id="updateAntiqueDelById" parameterType="java.util.Map">
		UPDATE
		BP_ANTIQUE
		SET
		ANTIQUE_IS_DEL = #{antiqueIsDel,jdbcType=INTEGER},
		ANTIQUE_UPDATE_USER = #{userId,jdbcType=VARCHAR},
		ANTIQUE_UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		WHERE ANTIQUE_ID = #{antiqueId,jdbcType=VARCHAR}
	</update>
	
	<update id="editBpAntique" parameterType="com.sun3d.why.model.BpAntique">
		UPDATE BP_ANTIQUE
		<set>
			<if test="antiqueId != null">
				ANTIQUE_ID = #{antiqueId,jdbcType=VARCHAR},
			</if>
			<if test="antiqueName != null">
				ANTIQUE_NAME = #{antiqueName,jdbcType=VARCHAR},
			</if>
			<if test="antiqueInfo != null">
				ANTIQUE_INFO = #{antiqueInfo,jdbcType=LONGVARCHAR},
			</if>
			<if test="antiqueRemark != null">
				ANTIQUE_REMARK = #{antiqueRemark,jdbcType=LONGVARCHAR},
			</if>
			<if test="antiqueImgUrl != null">
				ANTIQUE_IMG_URL = #{antiqueImgUrl,jdbcType=LONGVARCHAR},
			</if>
			<if test="antiqueSort != null">
				ANTIQUE_SORT = #{antiqueSort,jdbcType=INTEGER},
			</if>
			<if test="antiqueIsDel != null">
				ANTIQUE_IS_DEL = #{antiqueIsDel,jdbcType=INTEGER},
			</if>
			<if test="antiqueCreateTime != null">
				ANTIQUE_CREATE_TIME =
				#{antiqueCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="antiqueUpdateTime != null">
				ANTIQUE_UPDATE_TIME =
				#{antiqueUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="antiqueCreateUser != null">
				ANTIQUE_CREATE_USER =
				#{antiqueCreateUser,jdbcType=VARCHAR},
			</if>
			<if test="antiqueUpdateUser != null">
				ANTIQUE_UPDATE_USER =
				#{antiqueUpdateUser,jdbcType=VARCHAR},
			</if>
			<if test="antiqueDynasty != null">
				ANTIQUE_DYNASTY = #{antiqueDynasty,jdbcType=VARCHAR},
			</if>
			<if test="antiqueType != null">
				ANTIQUE_TYPE = #{antiqueType,jdbcType=VARCHAR},
			</if>
			<if test="antiqueSpecification != null">
				ANTIQUE_SPECIFICATION = #{antiqueSpecification,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ANTIQUE_ID = #{antiqueId,jdbcType=VARCHAR}
	</update>
</mapper>