<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.CcpCultureContestOptionMapper" >
  <resultMap id="BaseResultMap" type="com.culturecloud.model.bean.culture.CcpCultureContestOption" >

    <id column="culture_option_id" property="cultureOptionId" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="option_content" property="optionContent" jdbcType="VARCHAR" />
    <result column="option_index" property="optionIndex" jdbcType="INTEGER" />
    <result column="option_is_right" property="optionIsRight" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
 
    culture_option_id, question_id, option_content, option_index, option_is_right
  </sql>
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ccp_culture_contest_option
    where question_Id = #{questionId,jdbcType=INTEGER} order by option_index
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" > 
    delete from ccp_culture_contest_option
    where question_id = #{questionId,jdbcType=INTEGER}
  </delete>
  
  
  
  
  
  <insert id="insert" parameterType="java.util.Map" >

    insert into ccp_culture_contest_option (culture_option_id, question_id, option_content, 
      option_index, option_is_right)
    values (#{cultureOptionId,jdbcType=VARCHAR}, #{questionId,jdbcType=INTEGER}, #{optionContent,jdbcType=VARCHAR}, 
      #{optionIndex,jdbcType=INTEGER}, #{optionIsRight,jdbcType=INTEGER})
  </insert>
  
  
  
  <update id="updateByPrimaryKey" parameterType="java.util.Map" >
  
    update ccp_culture_contest_option
    set option_content = #{optionContent,jdbcType=VARCHAR},
        option_is_right = #{optionIsRight,jdbcType=INTEGER}
    where culture_option_id = #{cultureOptionId,jdbcType=VARCHAR}
  </update>
  
  
  
  <insert id="insertSelective" parameterType="com.culturecloud.model.bean.culture.CcpCultureContestOption" >
   
    insert into ccp_culture_contest_option
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cultureOptionId != null" >
        culture_option_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="optionContent != null" >
        option_content,
      </if>
      <if test="optionIndex != null" >
        option_index,
      </if>
      <if test="optionIsRight != null" >
        option_is_right,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cultureOptionId != null" >
        #{cultureOptionId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="optionContent != null" >
        #{optionContent,jdbcType=VARCHAR},
      </if>
      <if test="optionIndex != null" >
        #{optionIndex,jdbcType=INTEGER},
      </if>
      <if test="optionIsRight != null" >
        #{optionIsRight,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.culturecloud.model.bean.culture.CcpCultureContestOption" >
   
    update ccp_culture_contest_option
    <set >
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="optionContent != null" >
        option_content = #{optionContent,jdbcType=VARCHAR},
      </if>
      <if test="optionIndex != null" >
        option_index = #{optionIndex,jdbcType=INTEGER},
      </if>
      <if test="optionIsRight != null" >
        option_is_right = #{optionIsRight,jdbcType=INTEGER},
      </if>
    </set>
    where culture_option_id = #{cultureOptionId,jdbcType=VARCHAR}
  </update>
  
  
  
  
</mapper>