<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.ccp.CcpCityImgMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.ccp.CcpCityImg" >
    <id column="CITY_IMG_ID" property="cityImgId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CITY_IMG_URL" property="cityImgUrl" jdbcType="VARCHAR" />
    <result column="CITY_IMG_CONTENT" property="cityImgContent" jdbcType="VARCHAR" />
    <result column="CITY_TYPE" property="cityType" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CITY_STATUS" property="cityStatus" jdbcType="INTEGER" />
    <result column="IS_VOTE" property="isVote" jdbcType="INTEGER" />
    <result column="VOTE_COUNT" property="voteCount" jdbcType="INTEGER" />
    <result column="USER_HEAD_IMG_URL" property="userHeadImgUrl" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_REAL_NAME" property="userRealName" jdbcType="VARCHAR" />
    <result column="USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    CITY_IMG_ID, USER_ID, CITY_IMG_URL,CITY_IMG_CONTENT, CITY_TYPE, CREATE_TIME,CITY_STATUS
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ccp_city_img
    where CITY_IMG_ID = #{cityImgId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ccp_city_img
    where CITY_IMG_ID = #{cityImgId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.sun3d.why.model.ccp.CcpCityImg" >
    insert into ccp_city_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      CITY_IMG_ID,
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="cityImgUrl != null" >
        CITY_IMG_URL,
      </if>
      <if test="cityImgContent != null" >
        CITY_IMG_CONTENT,
      </if>
      <if test="cityType != null" >
        CITY_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{cityImgId,jdbcType=VARCHAR},
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cityImgUrl != null" >
        #{cityImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="cityImgContent != null" >
        #{cityImgContent,jdbcType=VARCHAR},
      </if>
      <if test="cityType != null" >
        #{cityType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.sun3d.why.model.ccp.CcpCityImg" >
    update ccp_city_img
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cityImgUrl != null" >
        CITY_IMG_URL = #{cityImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="cityImgContent != null" >
        CITY_IMG_CONTENT = #{cityImgContent,jdbcType=VARCHAR},
      </if>
      <if test="cityType != null" >
        CITY_TYPE = #{cityType,jdbcType=INTEGER},
      </if>
      <if test="cityStatus != null" >
        CITY_STATUS = #{cityStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CITY_IMG_ID = #{cityImgId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectCityImgList" resultMap="BaseResultMap" parameterType="com.sun3d.why.model.ccp.CcpCityImg" >
  	select 
    	cci.CITY_IMG_ID, 
    	cci.USER_ID, 
    	cci.CITY_IMG_URL, 
    	cci.CITY_IMG_CONTENT, 
    	cci.CITY_TYPE,
    	cci.CITY_STATUS,
    	<if test="userId!=null">
	    	IF((SELECT count(*)
	        FROM ccp_city_vote ccv
	        WHERE ccv.CITY_IMG_ID = cci.CITY_IMG_ID 
	        and ccv.CITY_TYPE = #{cityType} 
	        and ccv.USER_ID = #{userId} 
	        and DATE_FORMAT(ccv.CREATE_TIME, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
	        )>0,1,0) as IS_VOTE,
	    </if>
    	(SELECT count(*)
        FROM ccp_city_vote ccv
        WHERE ccv.CITY_IMG_ID = cci.CITY_IMG_ID 
        and ccv.CITY_TYPE = #{cityType} 
        ) as VOTE_COUNT,
	    ctu.USER_NAME,
		ctu.USER_HEAD_IMG_URL,
    	cci.CREATE_TIME
    from ccp_city_img cci 
    LEFT JOIN cms_terminal_user ctu ON ctu.USER_ID = cci.USER_ID
    where 1=1
    <if test="cityType != null">
    	and cci.CITY_TYPE = #{cityType}
    </if>
    <if test="cityImgId != null">
    	and cci.CITY_IMG_ID = #{cityImgId}
    </if>
    <!-- 查询自己上传的图片 -->
	<if test="isMe==1">
		and cci.USER_ID = #{userId}
	</if>
	GROUP BY cci.CITY_IMG_ID
	ORDER BY <if test="isVoteSort==1">VOTE_COUNT desc,</if>cci.CREATE_TIME desc
	<if test="firstResult != null">
		limit ${firstResult},${rows}
	</if>
  </select>
  
  <select id="queryCityImgCountByCondition" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(*)
    from ccp_city_img cci
    LEFT JOIN cms_terminal_user ctu ON ctu.USER_ID = cci.USER_ID
    LEFT JOIN ccp_city_user ccu ON ccu.USER_ID = cci.USER_ID
    where 1=1
    <if test="cityType != null" >
      and cci.CITY_TYPE = #{cityType}
    </if>
    <if test="userId != null" >
      and cci.USER_ID = #{userId}
    </if>
    <if test="cityStatus != null" >
      and cci.CITY_STATUS = #{cityStatus}
    </if>
    <if test="userName != null" >
      and ctu.USER_NAME like #{userName}
    </if>
    <if test="userMobile != null" >
      and ccu.USER_MOBILE like #{userMobile}
    </if>
    <if test="cityImgContent != null" >
      and cci.CITY_IMG_CONTENT like #{cityImgContent}
    </if>
  </select>
  
  <select id="queryCityImgByCondition" resultMap="BaseResultMap" parameterType="java.util.Map" >
  	select 
  		cci.CITY_IMG_ID, 
    	cci.USER_ID, 
    	cci.CITY_IMG_URL, 
    	cci.CITY_IMG_CONTENT, 
    	cci.CITY_TYPE,
	    ctu.USER_NAME,
	    ccu.USER_NAME as USER_REAL_NAME,
	    ccu.USER_MOBILE,
    	cci.CREATE_TIME,
    	cci.CITY_STATUS
    from ccp_city_img cci
    LEFT JOIN cms_terminal_user ctu ON ctu.USER_ID = cci.USER_ID
    LEFT JOIN ccp_city_user ccu ON ccu.USER_ID = cci.USER_ID
    where 1=1
    <if test="cityImgId != null" >
      and cci.CITY_IMG_ID = #{cityImgId}
    </if>
    <if test="cityType != null" >
      and cci.CITY_TYPE = #{cityType}
    </if>
    <if test="userId != null" >
      and cci.USER_ID = #{userId}
    </if>
    <if test="cityStatus != null" >
      and cci.CITY_STATUS = #{cityStatus}
    </if>
    <if test="userName != null" >
      and ctu.USER_NAME like #{userName}
    </if>
    <if test="userMobile != null" >
      and ccu.USER_MOBILE like #{userMobile}
    </if>
    <if test="cityImgContent != null" >
      and cci.CITY_IMG_CONTENT like #{cityImgContent}
    </if>
    order by cci.CREATE_TIME desc
    <if test="firstResult != null">
		limit ${firstResult},${rows}
	</if>
  </select>
</mapper>