<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun3d.why.dao.CcpCultureContestUserMapper">
  <resultMap id="BaseResultMap" type="com.culturecloud.model.bean.culture.CcpCultureContestUser">
    <id column="culture_user_id" jdbcType="VARCHAR" property="cultureUserId" />
    <result column="user_real_name" jdbcType="VARCHAR" property="userRealName" />
    <result column="user_telephone" jdbcType="VARCHAR" property="userTelephone" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_group_type" jdbcType="INTEGER" property="userGroupType" />
    <result column="user_create_time" jdbcType="TIMESTAMP" property="userCreateTime" />
    <result column="user_answer_time" jdbcType="TIMESTAMP" property="userAnswerTime" />
    <result column="user_area" jdbcType="VARCHAR" property="userArea" />
  </resultMap>
  
  
  
  
  
  
  <sql id="Base_Column_List">
    culture_user_id, user_real_name, user_telephone, user_sex, user_birthday, user_id, 
    user_group_type, user_create_time, user_answer_time,user_area
  </sql>
  
  
  
  
  <!-- 查询用户信息展示 -->
  <select id="queryDetailByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ccp_culture_contest_user
    where culture_user_id = #{cultureUserId,jdbcType=VARCHAR}
  </select>
  
  
  
  
  <!-- 查询结果记录数，做分页展示 -->
  <select id="selectUserCountByCondition" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select count(*) from ccp_culture_contest_user 
  	where 1=1
  	<if test="user_real_name != null">
         and (user_real_name = #{user_real_name,jdbcType=VARCHAR} or #{user_real_name,jdbcType=VARCHAR} = 'all')
      </if>
      <if test="user_telephone != null">
         and user_telephone = #{user_telephone,jdbcType=VARCHAR}
     </if> 
     and user_group_type = #{userGroupType,jdbcType=INTEGER}
  </select>
 	
  
  
  
  
  	<!-- 查询用户用户名 -->
  	<select id="queryUsernameByUserId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT USER_NAME from cms_terminal_user where user_id = #{userId,jdbcType=VARCHAR}
	  </select>
  
  
  <select id="queryCountByUserId" parameterType="java.util.Map" resultType="java.lang.Integer">
  	SELECT
		count(1)
	FROM
		(
			SELECT
				COUNT(1),
				max(stage_number) maxStage
			FROM
				ccp_culture_contest_user u
			LEFT JOIN ccp_culture_contest_answer a ON U.culture_user_id = A.culture_user_id
			WHERE
				a.user_group_type =  #{userGroupType,jdbcType=INTEGER}
				AND a.answer_status = 1
				<if test="userTelephone !=null">
		  			and user_telephone = #{userTelephone}
		  		</if>
		  		<if test="userName !=null">
		  			and user_real_name  = #{userName}
		  		</if>
				GROUP BY
					a.culture_user_id
		) s1 WHERE maxStage >= #{userStage}
  </select>
  
  <insert id="insert" parameterType="com.culturecloud.model.bean.culture.CcpCultureContestUser">
    insert into ccp_culture_contest_user (culture_user_id, user_real_name, user_telephone, 
      user_sex, user_birthday, user_id, 
      user_group_type, user_create_time, user_answer_time
      )
    values (#{cultureUserId,jdbcType=VARCHAR}, #{userRealName,jdbcType=VARCHAR}, #{userTelephone,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=INTEGER}, #{userBirthday,jdbcType=DATE}, #{userId,jdbcType=VARCHAR}, 
      #{userGroupType,jdbcType=INTEGER}, #{userCreateTime,jdbcType=TIMESTAMP}, #{userAnswerTime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  
  
  
  
  <insert id="insertSelective" parameterType="com.culturecloud.model.bean.culture.CcpCultureContestUser">
    insert into ccp_culture_contest_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cultureUserId != null">
        culture_user_id,
      </if>
      <if test="userRealName != null">
        user_real_name,
      </if>
      <if test="userTelephone != null">
        user_telephone,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userBirthday != null">
        user_birthday,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userGroupType != null">
        user_group_type,
      </if>
      <if test="userCreateTime != null">
        user_create_time,
      </if>
      <if test="userAnswerTime != null">
        user_answer_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cultureUserId != null">
        #{cultureUserId,jdbcType=VARCHAR},
      </if>
      <if test="userRealName != null">
        #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="userTelephone != null">
        #{userTelephone,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=DATE},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userGroupType != null">
        #{userGroupType,jdbcType=INTEGER},
      </if>
      <if test="userCreateTime != null">
        #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAnswerTime != null">
        #{userAnswerTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.culturecloud.model.bean.culture.CcpCultureContestUser">
    update ccp_culture_contest_user
    <set>
      <if test="userRealName != null">
        user_real_name = #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="userTelephone != null">
        user_telephone = #{userTelephone,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userBirthday != null">
        user_birthday = #{userBirthday,jdbcType=DATE},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userGroupType != null">
        user_group_type = #{userGroupType,jdbcType=INTEGER},
      </if>
      <if test="userCreateTime != null">
        user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAnswerTime != null">
        user_answer_time = #{userAnswerTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where culture_user_id = #{cultureUserId,jdbcType=VARCHAR}
  </update>
  
  
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.culturecloud.model.bean.culture.CcpCultureContestUser">
    update ccp_culture_contest_user
    set user_real_name = #{userRealName,jdbcType=VARCHAR},
      user_telephone = #{userTelephone,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_birthday = #{userBirthday,jdbcType=DATE},
      user_id = #{userId,jdbcType=VARCHAR},
      user_group_type = #{userGroupType,jdbcType=INTEGER},
      user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      user_answer_time = #{userAnswerTime,jdbcType=TIMESTAMP}
    where culture_user_id = #{cultureUserId,jdbcType=VARCHAR}
  </update>
  
  
  
  
</mapper>