<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.CmsUserStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.CmsUserStatistics" >
    <id column="S_ID" property="sId" jdbcType="VARCHAR" />
    <result column="S_TYPE" property="sType" jdbcType="INTEGER" />
    <result column="S_CATEGORY" property="sCategory" jdbcType="INTEGER" />
    <result column="S_COUNT" property="sCount" jdbcType="INTEGER" />
    <result column="S_TIME" property="sTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="addUserStatistics" parameterType="com.sun3d.why.model.CmsUserStatistics" >
    insert into cms_user_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        S_ID,
      </if>
      <if test="sType != null" >
        s_type,
      </if>
      <if test="sCategory != null" >
        s_category,
      </if>
      <if test="sCount != null" >
        s_count,
      </if>
      <if test="sTime != null" >
        s_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="sType != null" >
        #{sType,jdbcType=INTEGER},
      </if>
      <if test="sCategory != null" >
        #{sCategory,jdbcType=INTEGER},
      </if>
      <if test="sCount != null" >
        #{sCount,jdbcType=INTEGER},
      </if>
      <if test="sTime != null" >
        #{sTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <!--根据类型删除-->
  <delete id="deleteUserStatistics" parameterType="java.lang.Integer">
    delete from
    cms_user_statistics
    where s_type = #{sType}
  </delete>

  <!--截至昨日数据统计-->
  <select id="queryTerminalUserStatistics" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(*) from cms_terminal_user where user_is_disable in(1,2) and create_time &lt; #{createTime}
  </select>

  <!--文化云平台会员年龄统计-->
  <select id="queryTerminalUserAgeStatistics" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    COUNT(user_id) as s_count,
    CASE
    WHEN year(user_birth) >= #{six} AND year(user_birth) &lt; #{seven} THEN 2
    WHEN year(user_birth) >= #{seven} AND year(user_birth) &lt; #{eight} THEN 3
    WHEN year(user_birth) >= #{eight} AND year(user_birth) &lt; #{nine} THEN 4
    WHEN year(user_birth) >= #{nine} AND year(user_birth) &lt; #{zero} THEN 5
    WHEN year(user_birth) >= #{zero} AND year(user_birth) &lt; #{ten} THEN 6
    ELSE 7
    END AS s_category
    FROM
    cms_terminal_user
    WHERE create_time &lt; #{createTime} and user_is_disable =1 and USER_BIRTH is not null
    GROUP BY
    s_category
    ORDER BY s_category;
  </select>

  <!--文化云平台会员性别统计-->
  <select id="queryTerminalUserSexStatistics" resultMap="BaseResultMap" parameterType="java.util.Map">
    select if(user_sex =1, 8, 9) as s_category,count(USER_SEX) as s_count from cms_terminal_user where create_time &lt; #{createTime} and user_is_disable =1 and USER_SEX is not null and USER_SEX in (1,2) group by USER_SEX
  </select>

  <!--查询-->
  <select id="queryUserStatistics" parameterType="java.util.Map" resultMap="BaseResultMap">
    select S_ID,s_type,s_category,s_count,s_time from cms_user_statistics where 1=1
    <if test="sType != null">
      and s_type = #{sType}
    </if>
    order by s_category asc
  </select>
</mapper>