.ui-dialog-title{ font-size: 28px;}
.ui-dialog-content{ line-height: 42px; font-size: 24px;}
.ui-dialog-footer button{ width: 198px; height: 58px; line-height: 58px; font-size: 24px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}