#kkpager{
	clear:both;
	color:#999;
	padding: 70px 0px;
	font-size:16px;
	text-align: center;
}
#kkpager a,#kkpager span.curr,#kkpager span.disabled{
	display: inline-block; min-width: 40px; height: 38px; line-height: 38px; padding: 0 10px; color: #4a4a4a; border: solid 1px #4a4a4a; margin: 0 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; vertical-align: top;
}

#kkpager span.disabled{
	padding: 0 10px; color: #DFDFDF; background-color: #FFF; border:1px solid #DFDFDF; vertical-align: top;
}
/*#kkpager span{
	display: inline-block; height: 45px; line-height: 45px; vertical-align: top;
}*/
#kkpager span.curr{
	color: #ffffff; background-color: #40b4ff; border-color: #40b4ff;
}
#kkpager a:hover{
	color: #ffffff; background-color: #40b4ff; border-color: #40b4ff;
}
#kkpager span.normalsize{
}
#kkpager_gopage_wrap{
	position:relative;
	left:0px;
	top:0px;
	margin-left: 10px;
}
#kkpager_btn_go,#kkpager_btn_go_input{ border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
#kkpager_btn_go {
	display: inline-block; width: 40px; height: 40px; line-height: 40px; color: #4A4A4A; border: solid 1px #4A4A4A; margin: 0 5px; vertical-align: top; cursor: pointer;
}
#kkpager_btn_go_input{
	display: inline-block; width: 48px; height: 20px; line-height: 20px; padding: 9px 0;  text-align: center; border: solid 1px #4A4A4A; background-color: transparent; vertical-align: top;
}

#kkpager_btn_go_input.focus{
	border-color:#31ACE2;
}

#kkpager .pageBtnWrap{
	display: inline-block;
}
#kkpager .infoTextAndGoPageBtnWrap{
	display: inline-block; vertical-align: top;
	height:38px; line-height: 38px; *display:inline; *zoom:1;
}
#kkpager .spanDot{
	display: inline-block;
	margin-right:5px;
	margin-top:13px;
}

#kkpager .currPageNum{
	color:#FD7F4D;
}

#kkpager .infoTextAndGoPageBtnWrap{

}
#kkpager span.totalText{ margin-left: 15px; *display:inline; *zoom:1;}

/*活动详情页小分页*/
#kkpager a,#kkpager span.curr{ min-width:20px; width:auto; padding:0 10px;}
#kkpager.small{padding: 15px 0 40px; font-size:12px;}
#kkpager.small input{ font-size:12px;}
#kkpager.small a, #kkpager.small span.curr, #kkpager.small span.disabled{ height:22px; line-height:22px; min-width:14px; padding:0 5px;}
#kkpager.small .infoTextAndGoPageBtnWrap{ height:24px; line-height:24px;}
#kkpager.small #kkpager_btn_go_input{ width:22px; height:22px; line-height:22px; padding:0;}
#kkpager.small #kkpager_btn_go{ width:24px; height:24px; line-height:24px; padding:0;}
