<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.CmsSensitiveWordsMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.CmsSensitiveWords" >
    <id column="SID" property="sid" jdbcType="VARCHAR" />
    <result column="SENSITIVE_WORDS" property="sensitiveWords" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="WORDS_STATUS" property="wordsStatus" jdbcType="INTEGER" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR"/>
  </resultMap>


  <sql id="Base_Column_List" >
    SID, SENSITIVE_WORDS, CREATE_USER, UPDATE_USER, CREATE_TIME, UPDATE_TIME, WORDS_STATUS
  </sql>

  <select id="querySensitiveWordsBySid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cms_sensitive_words
    where SID = #{sid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteSensitiveWordsBySid" parameterType="java.lang.String" >
    delete from cms_sensitive_words
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>

  <insert id="addCmsSensitiveWords" parameterType="com.sun3d.why.model.CmsSensitiveWords" >
    insert into cms_sensitive_words
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="sensitiveWords != null" >
        SENSITIVE_WORDS,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="wordsStatus != null" >
        WORDS_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="sensitiveWords != null" >
        #{sensitiveWords,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wordsStatus != null" >
        #{wordsStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="editSensitiveWords" parameterType="com.sun3d.why.model.CmsSensitiveWords" >
    update cms_sensitive_words
    <set >
      <if test="sensitiveWords != null" >
        SENSITIVE_WORDS = #{sensitiveWords,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wordsStatus != null" >
        WORDS_STATUS = #{wordsStatus,jdbcType=INTEGER},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>

  <select id="queryCmsSensitiveWordsList" resultMap="BaseResultMap" parameterType="com.sun3d.why.model.CmsSensitiveWords" >
    select
   *
    from cms_sensitive_words s,sys_user u
    where s.update_user = u.user_id
    <if test="sensitiveWords != null" >
     and s.SENSITIVE_WORDS like  #{sensitiveWords,jdbcType=VARCHAR}
    </if>
    <if test="wordsStatus != null" >
      and s.words_Status = #{wordsStatus,jdbcType=INTEGER}
    </if>
    order by s.update_time desc
    <if test="firstResult != null">
      limit ${firstResult},${rows}
    </if>
  </select>

  <select id="queryCmsSensitiveWordsByWords" resultType="integer" >
    select
    count(*)
    from cms_sensitive_words
    where 1=1
      and SENSITIVE_WORDS =  #{0}
  </select>

  <select id="queryCmsSensitiveWordsCount" resultType="integer" parameterType="com.sun3d.why.model.CmsSensitiveWords" >
  select
  count(*)
  from cms_sensitive_words
  where 1=1
  <if test="sensitiveWords != null" >
    and sensitive_Words like  #{sensitiveWords,jdbcType=VARCHAR}
  </if>
  <if test="wordsStatus != null" >
    and WORDS_STATUS = #{wordsStatus,jdbcType=INTEGER}
  </if>
</select>
<!--app查询敏感词列表 -->

  <select id="queryAppSensitiveWordsList" resultMap="BaseResultMap">
    select
    s.SENSITIVE_WORDS
    from cms_sensitive_words s
    WHERE  1=1 and s.WORDS_STATUS=1
    order by s.update_time desc
  </select>
</mapper>