<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.culturecloud.dao.activity.CmsActivityOrderMapper">
    <resultMap id="BaseResultMap" type="com.culturecloud.model.bean.activity.CmsActivityOrder">
        <id column="ACTIVITY_ORDER_ID" property="activityOrderId" jdbcType="VARCHAR" />
	    <result column="ACTIVITY_ID" property="activityId" jdbcType="VARCHAR" />
	    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
	    <result column="ORDER_NUMBER" property="orderNumber" jdbcType="VARCHAR" />
	    <result column="ORDER_PRICE" property="orderPrice" jdbcType="DECIMAL" />
	    <result column="ORDER_NAME" property="orderName" jdbcType="VARCHAR" />
	    <result column="ORDER_IDENTITY_CARD" property="orderIdentityCard" jdbcType="VARCHAR" />
	    <result column="ORDER_PHONE_NO" property="orderPhoneNo" jdbcType="VARCHAR" />
	    <result column="ORDER_SUMMARY" property="orderSummary" jdbcType="VARCHAR" />
	    <result column="ORDER_IS_VALID" property="orderIsValid" jdbcType="SMALLINT" />
	    <result column="ORDER_CREATE_TIME" property="orderCreateTime" jdbcType="TIMESTAMP" />
	    <result column="ORDER_PAY_STATUS" property="orderPayStatus" jdbcType="SMALLINT" />
	    <result column="ORDER_PAY_TYPE" property="orderPayType" jdbcType="SMALLINT" />
	    <result column="ORDER_PAY_TIME" property="orderPayTime" jdbcType="TIMESTAMP" />
	    <result column="ORDER_VOTES" property="orderVotes" jdbcType="INTEGER" />
	    <result column="ORDER_VALIDATE_CODE" property="orderValidateCode" jdbcType="VARCHAR" />
	    <result column="ORDER_TYPE" property="orderType" jdbcType="INTEGER" />
	    <result column="ORDER_SMS_COUNT" property="orderSmsCount" jdbcType="INTEGER" />
	    <result column="ORDER_SMS_TIME" property="orderSmsTime" jdbcType="TIMESTAMP" />
	    <result column="ORDER_SMS_STATE" property="orderSmsState" jdbcType="INTEGER" />
	    <result column="SYS_USER_ID" property="sysUserId" jdbcType="VARCHAR" />
	    <result column="SYS_NO" property="sysNo" jdbcType="VARCHAR" />
	    <result column="SYS_ID" property="sysId" jdbcType="VARCHAR" />
	    <result column="VENUE_ID" property="venueId" jdbcType="VARCHAR" />
	    <result column="PRINT_TICKET_TIMES" property="printTicketTimes" jdbcType="INTEGER" />
	    <result column="EVENT_ID" property="eventId" jdbcType="VARCHAR" />
	    <result column="ORDER_UPDATE_TIME" property="orderUpdateTime" jdbcType="TIMESTAMP" />
	    <result column="ORDER_CHECK_TIME" property="orderCheckTime" jdbcType="TIMESTAMP" />
	    <result column="COST_TOTAL_CREDIT" property="costTotalCredit" jdbcType="VARCHAR" />
	    <result column="SURPLUS_COUNT" property="surplusCount" jdbcType="VARCHAR" />
    </resultMap>
    
    <resultMap id="cancelOrderMap" type="com.culturecloud.dao.dto.activity.CmsCancelOrderDto">
    	<result column="userId" property="userId" jdbcType="VARCHAR" />
	    <result column="activityOrderId" property="activityOrderId" jdbcType="VARCHAR" />
    </resultMap>
    
    
    
    <resultMap id="ResultMapWithBLOBs" type="com.culturecloud.model.bean.activity.CmsActivityOrder" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jul 25 14:39:03 CST 2016.
    -->
    <result column="ORDER_SMS" property="orderSms" jdbcType="LONGVARCHAR" />
  </resultMap>
    
    <resultMap type="com.culturecloud.dao.dto.activity.CmsActivityOrderDto" id="BaseResultDtoMap" extends="ResultMapWithBLOBs">
    
       <result column="ACTIVITY_NAME" property="activityName" jdbcType="VARCHAR"/>
       <result column="activity_start_time" property="activityStartTime" jdbcType="VARCHAR"/>
        <result column="DEDUCTION_CREDIT" property="deductionCredit" jdbcType="INTEGER"/>
       
    </resultMap>
    
    <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jul 25 14:39:03 CST 2016.
    -->
    ACTIVITY_ORDER_ID, ACTIVITY_ID, USER_ID, ORDER_NUMBER, ORDER_PRICE, ORDER_NAME, ORDER_IDENTITY_CARD, 
    ORDER_PHONE_NO, ORDER_SUMMARY, ORDER_IS_VALID, ORDER_CREATE_TIME, ORDER_PAY_STATUS, 
    ORDER_PAY_TYPE, ORDER_PAY_TIME, ORDER_VOTES, ORDER_VALIDATE_CODE, ORDER_TYPE, ORDER_SMS_COUNT, 
    ORDER_SMS_TIME, ORDER_SMS_STATE, SYS_USER_ID, SYS_NO, SYS_ID, VENUE_ID, PRINT_TICKET_TIMES, 
    EVENT_ID, ORDER_UPDATE_TIME, ORDER_CHECK_TIME, COST_TOTAL_CREDIT
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jul 25 14:39:03 CST 2016.
    -->
    ORDER_SMS
  </sql>
  
   <select id="queryCmsActivityOrderById" resultMap="BaseResultMap"
            parameterType="java.lang.String">
		SELECT cao.ORDER_NUMBER,
		cao.ORDER_PRICE,
		cao.ORDER_NAME,
		cao.ORDER_PHONE_NO,
		cao.ORDER_CREATE_TIME,
		cao.ORDER_SUMMARY,
		cao.ORDER_VOTES,
		cao.ORDER_PAY_STATUS,
		cao.USER_ID,
		cao.SYS_ID,
		cao.SYS_NO,
		ca.ACTIVITY_NAME,ca.ACTIVITY_ADDRESS,
		ca.ACTIVITY_START_TIME,ca.ACTIVITY_END_TIME,
		ca.ACTIVITY_ICON_URL,cao.ACTIVITY_ORDER_ID,
		ca.activity_id,
		cao.event_id,
		ca.ACTIVITY_SALES_ONLINE,
		cao.ORDER_VALIDATE_CODE,
		COST_TOTAL_CREDIT
		FROM
		cms_activity ca join cms_activity_order cao on ca.activity_id =
		cao.activity_id
		and cao.activity_order_id = #{activityOrderId}
	</select>


    <select id="queryCheckOrderList" resultMap="BaseResultMap"
            parameterType="java.util.Map">
            
    SELECT o.* 
    from cms_activity_order o 
    where 1=1
    <if test="date!=null">
    	 and ORDER_CREATE_TIME &gt;= #{date,jdbcType=TIMESTAMP}
    </if>
    and ORDER_PAY_STATUS != 2
    order by o.ORDER_CREATE_TIME asc 
    
    limit 0,${rows}
    </select>
    
     
    <select id="queryOrderRepeatSeat" resultType="java.lang.String" parameterType="java.util.Map">
    	SELECT  DISTINCT o1.`ACTIVITY_ORDER_ID` FROM cms_activity_order_detail od 
		
		INNER JOIN `cms_activity_order` o1 ON o1.`ACTIVITY_ORDER_ID`=od.`ACTIVITY_ORDER_ID` AND o1.`ACTIVITY_ID`=#{activityId}
		
		INNER JOIN `cms_activity_order` o ON o.ACTIVITY_ORDER_ID=#{orderId}
		
		AND o1.EVENT_ID = o.`EVENT_ID`
		
		AND FIND_IN_SET(od.`SEAT_VAL`,#{orderSeat}) AND o1.ORDER_PAY_STATUS != 2
		
		WHERE o1.ACTIVITY_ORDER_ID!=#{orderId}

    	
    </select>
    
    <select id="queryTimeOutNotVerificationOrder" resultMap="BaseResultDtoMap" parameterType="java.lang.String">
    SELECT o.`ACTIVITY_ORDER_ID`,o.`ORDER_PHONE_NO`,o.`ORDER_VOTES`,o.`ORDER_NUMBER`,o.`USER_ID`,o.`ORDER_NAME`,a.`ACTIVITY_NAME`,a.`activity_start_time`,a.`DEDUCTION_CREDIT` FROM `cms_activity_order` o

	INNER JOIN `cms_activity` a ON o.`ACTIVITY_ID`=a.`ACTIVITY_ID`  left join cms_activity_venue_relevance as cavr on a.ACTIVITY_ID=cavr.ACTIVITY_ID 

	WHERE o.`EVENT_ID` IN (SELECT e.`EVENT_ID` FROM `cms_activity_event` e WHERE SUBSTRING(e.`EVENT_DATE_TIME`,1,10) = #{date})

	AND o.ORDER_PAY_STATUS = 1  AND a.`DEDUCTION_CREDIT` IS NOT NULL AND a.`DEDUCTION_CREDIT` >0 and cavr.VENUE_ID in (select venue_id from sys_integral_venue)
    </select>
    
    
    <select id="cancelOrder" resultMap="cancelOrderMap">
   		select a.USER_ID as userId,a.ACTIVITY_ORDER_ID as activityOrderId from cms_activity_order as a 
   		where a.ORDER_PAYMENT_STATUS=1 and a.ORDER_PAY_STATUS=1 and (UNIX_TIMESTAMP(NOW()) - UNIX_TIMESTAMP(a.ORDER_CREATE_TIME))/60>16
    </select>
    
    
    
    
    
   
</mapper>