<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun3d.why.dao.volunteer.VolunteerSuggesstionMapper">
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.volunteer.VolunteerSuggesstion">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="owner_table" jdbcType="VARCHAR" property="ownerTable" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="suggestion_type" jdbcType="INTEGER" property="suggestionType" />
    <result column="content" jdbcType="INTEGER" property="content" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, owner_table, owner_id, owner_name, suggestion_type, content, create_id, create_time,
    update_id, update_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_volunteer_suggesstion
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_volunteer_suggesstion
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sun3d.why.model.volunteer.VolunteerSuggesstion">
    insert into t_volunteer_suggesstion (uuid, owner_table, owner_id,
      owner_name, suggestion_type, content,
      create_id, create_time, update_id,
      update_time, status)
    values (#{uuid,jdbcType=VARCHAR}, #{ownerTable,jdbcType=VARCHAR}, #{ownerId,jdbcType=VARCHAR},
      #{ownerName,jdbcType=VARCHAR}, #{suggestionType,jdbcType=INTEGER}, #{content,jdbcType=INTEGER},
      #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sun3d.why.model.volunteer.VolunteerSuggesstion">
    insert into t_volunteer_suggesstion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="ownerTable != null">
        owner_table,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="suggestionType != null">
        suggestion_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="ownerTable != null">
        #{ownerTable,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="suggestionType != null">
        #{suggestionType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sun3d.why.model.volunteer.VolunteerSuggesstion">
    update t_volunteer_suggesstion
    <set>
      <if test="ownerTable != null">
        owner_table = #{ownerTable,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="suggestionType != null">
        suggestion_type = #{suggestionType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sun3d.why.model.volunteer.VolunteerSuggesstion">
    update t_volunteer_suggesstion
    set owner_table = #{ownerTable,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=VARCHAR},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      suggestion_type = #{suggestionType,jdbcType=INTEGER},
      content = #{content,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>