<div class="youthArtTips">
    <p class="youthArtTipsTt">精彩节目一览</p>
    <div class="hkVedioList">
        <ul>
            <li style="position: relative;width: 325px;height: 200px;">
                <video id="video1" src="http://culturecloud.oss-cn-hangzhou.aliyuncs.com/H5/%E8%B0%81%E5%8A%A8%E4%BA%86%E6%88%91%E7%9A%84%E7%88%B1%E6%83%85.mp4"  style="width:325px;height: 200px;"></video>
                <img class="hkPlayBtn" src="image/hongkouAct/vedio1.jpg" style="position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin: auto;z-index: 10;width: 325px;height: 200px;" onclick="document.getElementById('video1').play()" />
            </li>
            <li style="position: relative;width: 325px;height: 200px;">
                <video id="video2" src="http://culturecloud.oss-cn-hangzhou.aliyuncs.com/mp4MultibitrateIn55/%E7%89%B5%E6%89%8B.mp4"  style="width:325px;height: 200px;"></video>
                <img class="hkPlayBtn" src="image/hongkouAct/vedio2.jpg" style="position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin: auto;z-index: 10;width: 325px;height: 200px;" onclick="document.getElementById('video2').play()" />
            </li>

            <div style="clear: both;"></div>
        </ul>
    </div>
</div>