<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.AppImageWithStartMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.AppImageWithStart" >
    <id column="imageid" property="imageid" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="imageurl_retina" property="imageurlRetina" jdbcType="VARCHAR" />
    <result column="imageurl_normal" property="imageurlNormal" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
    <result column="startDate" property="startdate" jdbcType="DATE" />
    <result column="endDate" property="enddate" jdbcType="DATE" />
    <result column="isDefaultImage" property="isdefaultimage" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    imageid, city, imageurl_retina, imageurl_normal, status, cdate, startDate, endDate, 
    isDefaultImage
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_imagewithstart
    where imageid = #{imageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_imagewithstart
    where imageid = #{imageid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sun3d.why.model.AppImageWithStart" >
    insert into app_imagewithstart (imageid, city, imageurl_retina, 
      imageurl_normal, status, cdate, 
      startDate, endDate, isDefaultImage
      )
    values (#{imageid,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{imageurlRetina,jdbcType=VARCHAR}, 
      #{imageurlNormal,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{cdate,jdbcType=TIMESTAMP}, 
      #{startdate,jdbcType=DATE}, #{enddate,jdbcType=DATE}, #{isdefaultimage,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sun3d.why.model.AppImageWithStart" >
    insert into app_imagewithstart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageid != null" >
        imageid,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="imageurlRetina != null" >
        imageurl_retina,
      </if>
      <if test="imageurlNormal != null" >
        imageurl_normal,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="isdefaultimage != null" >
        isDefaultImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageid != null" >
        #{imageid,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="imageurlRetina != null" >
        #{imageurlRetina,jdbcType=VARCHAR},
      </if>
      <if test="imageurlNormal != null" >
        #{imageurlNormal,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=DATE},
      </if>
      <if test="isdefaultimage != null" >
        #{isdefaultimage,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sun3d.why.model.AppImageWithStart" >
    update app_imagewithstart
    <set >
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="imageurlRetina != null" >
        imageurl_retina = #{imageurlRetina,jdbcType=VARCHAR},
      </if>
      <if test="imageurlNormal != null" >
        imageurl_normal = #{imageurlNormal,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=DATE},
      </if>
      <if test="isdefaultimage != null" >
        isDefaultImage = #{isdefaultimage,jdbcType=INTEGER},
      </if>
    </set>
    where imageid = #{imageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sun3d.why.model.AppImageWithStart" >
    update app_imagewithstart
    set city = #{city,jdbcType=VARCHAR},
      imageurl_retina = #{imageurlRetina,jdbcType=VARCHAR},
      imageurl_normal = #{imageurlNormal,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      startDate = #{startdate,jdbcType=DATE},
      endDate = #{enddate,jdbcType=DATE},
      isDefaultImage = #{isdefaultimage,jdbcType=INTEGER}
    where imageid = #{imageid,jdbcType=INTEGER}
  </update>
  <select id="queryStartupImg" resultMap="BaseResultMap">
  	 select imageurl_retina,imageurl_normal  from 
	  ( 
	  select imageurl_retina,imageurl_normal from  app_imagewithstart where status=1 and date_format(now(),'%Y-%m-%d') between startDate and endDate  
	  union 
	  select imageurl_retina,imageurl_normal from  app_imagewithstart where status=1 and isDefaultImage=1   
	  ) as a limit 1
  </select>
</mapper>