<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.WechatBpAntiqueMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.BpAntique" >
    <id column="ANTIQUE_ID" property="antiqueId" jdbcType="VARCHAR" />
    <result column="ANTIQUE_NAME" property="antiqueName" jdbcType="VARCHAR" />
    <result column="ANTIQUE_INFO" property="antiqueInfo" jdbcType="LONGVARCHAR" />
    <result column="ANTIQUE_REMARK" property="antiqueRemark" jdbcType="LONGVARCHAR" />
    <result column="ANTIQUE_IMG_URL" property="antiqueImgUrl" jdbcType="LONGVARCHAR" />
    <result column="ANTIQUE_SOURCE" property="antiqueSource" jdbcType="VARCHAR" />
    <result column="ANTIQUE_VIDEO_URL" property="antiqueVideoUrl" jdbcType="VARCHAR" />
    <result column="ANTIQUE_SORT" property="antiqueSort" jdbcType="INTEGER" />
    <result column="ANTIQUE_IS_DEL" property="antiqueIsDel" jdbcType="INTEGER" />
    <result column="ANTIQUE_CREATE_TIME" property="antiqueCreateTime" jdbcType="TIMESTAMP" />
    <result column="ANTIQUE_UPDATE_TIME" property="antiqueUpdateTime" jdbcType="TIMESTAMP" />
    <result column="ANTIQUE_CREATE_USER" property="antiqueCreateUser" jdbcType="VARCHAR" />
    <result column="ANTIQUE_UPDATE_USER" property="antiqueUpdateUser" jdbcType="VARCHAR" />
    <result column="ANTIQUE_TYPE" property="antiqueType" jdbcType="VARCHAR" />
    <result column="ANTIQUE_DYNASTY" property="antiqueDynasty" jdbcType="VARCHAR" />
    <result column="ANTIQUE_SPECIFICATION" property="antiqueSpecification" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Aug 03 16:19:25 CST 2017.
    -->
    ANTIQUE_ID, ANTIQUE_NAME, ANTIQUE_IMG_URL, ANTIQUE_SOURCE, ANTIQUE_VIDEO_URL, ANTIQUE_SORT, 
    ANTIQUE_IS_DEL, ANTIQUE_CREATE_TIME, ANTIQUE_UPDATE_TIME, ANTIQUE_CREATE_USER, ANTIQUE_UPDATE_USER, 
    ANTIQUE_TYPE, ANTIQUE_DYNASTY, ANTIQUE_SPECIFICATION,ANTIQUE_INFO, ANTIQUE_REMARK
  </sql>
 
	<select id="queryBpAntiqueListCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT count(*)
		FROM
		bp_antique b
		WHERE
		1 = 1
		<if test="antiqueIsDel != null">
			AND b.ANTIQUE_IS_DEL = #{antiqueIsDel}
		</if>
	</select>
		
	<select id="queryBpAntiqueList" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		SELECT
		A.ANTIQUE_ID,A.ANTIQUE_NAME,A.ANTIQUE_INFO,
		A.ANTIQUE_IMG_URL,	
		D.DICT_NAME AS ANTIQUE_TYPE,DI.DICT_NAME AS ANTIQUE_DYNASTY
		FROM BP_ANTIQUE A 
		LEFT JOIN sys_dict D on A.`ANTIQUE_TYPE` = D.`DICT_ID`
		LEFT JOIN sys_dict DI on A.`ANTIQUE_DYNASTY` = DI.`DICT_ID`
		WHERE 1=1
		<if test="antiqueIsDel != null">
			AND A.ANTIQUE_IS_DEL = #{antiqueIsDel}
		</if>
		ORDER BY A.ANTIQUE_UPDATE_TIME desc
		limit #{firstResult},#{rows}
	</select>
	<select id="queryBpAntiqueById" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		SELECT
		A.ANTIQUE_ID,A.ANTIQUE_NAME,A.ANTIQUE_REMARK,
		A.ANTIQUE_IMG_URL,	
		D.DICT_NAME AS ANTIQUE_TYPE,DI.DICT_NAME AS ANTIQUE_DYNASTY,
		 <if test="userId!=null">
	            (SELECT count(*)
	            FROM cms_user_wantgo cau
	            WHERE cau.RELATE_ID = #{antiqueId,jdbcType=VARCHAR}
	            AND cau.USER_ID =#{userId}
	            ) AS userIsWant,
	        </if>
	        (SELECT count(*)
	        FROM cms_user_wantgo cau
	        WHERE cau.RELATE_ID = #{antiqueId,jdbcType=VARCHAR}
	        ) AS wantCount
		FROM BP_ANTIQUE A 
		LEFT JOIN sys_dict D on A.`ANTIQUE_TYPE` = D.`DICT_ID`
		LEFT JOIN sys_dict DI on A.`ANTIQUE_DYNASTY` = DI.`DICT_ID`
		WHERE ANTIQUE_ID = #{antiqueId,jdbcType=VARCHAR}
		limit 0,1            
	</select>
	
</mapper>