<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.ccp.CcpMoviessayLikeMapper" >
  <resultMap id="BaseResultMap" type="com.culturecloud.model.bean.moviessay.CcpMoviessayLike" >
    <id column="article_id" property="articleId" jdbcType="VARCHAR" />
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    article_id, user_id, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from ccp_moviessay_like
    where article_id = #{articleId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from ccp_moviessay_like
    where article_id = #{articleId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.culturecloud.model.bean.moviessay.CcpMoviessayLike">
    insert into ccp_moviessay_like (article_id, user_id, create_date
      )
    values (#{articleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.culturecloud.model.bean.moviessay.CcpMoviessayLike" >
    insert into ccp_moviessay_like
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.culturecloud.model.bean.moviessay.CcpMoviessayLike" >
    update ccp_moviessay_like
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.culturecloud.model.bean.moviessay.CcpMoviessayLike" >
    update ccp_moviessay_like
    set create_date = #{createDate,jdbcType=DATE}
    where article_id = #{articleId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>