<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.ccp.CcpSceneImgMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.ccp.CcpSceneImg" >
    <id column="SCENE_IMG_ID" property="sceneImgId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="SCENE_IMG_URL" property="sceneImgUrl" jdbcType="VARCHAR" />
    <result column="SCENE_IMG_CONTENT" property="sceneImgContent" jdbcType="VARCHAR" />
    <result column="SCENE_IMG_VENUE_ID" property="sceneImgVenueId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    
    <result column="SCENE_STATUS" property="sceneStatus" jdbcType="INTEGER" />
    <result column="IS_VOTE" property="isVote" jdbcType="INTEGER" />
    <result column="VOTE_COUNT" property="voteCount" jdbcType="INTEGER" />
    <result column="USER_HEAD_IMG_URL" property="userHeadImgUrl" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    SCENE_IMG_ID, USER_ID, SCENE_IMG_URL,SCENE_IMG_CONTENT,SCENE_IMG_VENUE_ID, CREATE_TIME,SCENE_STATUS
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ccp_scene_img
    where SCENE_IMG_ID = #{sceneImgId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ccp_scene_img
    where SCENE_IMG_ID = #{sceneImgId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.sun3d.why.model.ccp.CcpSceneImg" >
    insert into ccp_scene_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      SCENE_IMG_ID,
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="sceneImgUrl != null" >
        SCENE_IMG_URL,
      </if>
      <if test="sceneImgContent != null" >
        SCENE_IMG_CONTENT,
      </if>
      <if test="sceneStatus != null" >
        SCENE_STATUS,
      </if>
      <if test="sceneImgVenueId != null" >
        SCENE_IMG_VENUE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{sceneImgId,jdbcType=VARCHAR},
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sceneImgUrl != null" >
        #{sceneImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sceneImgContent != null" >
        #{sceneImgContent,jdbcType=VARCHAR},
      </if>
      <if test="sceneStatus != null" >
        #{sceneStatus,jdbcType=INTEGER},
      </if>
      <if test="sceneImgVenueId != null" >
        #{sceneImgVenueId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.sun3d.why.model.ccp.CcpSceneImg" >
    update ccp_scene_img
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sceneImgUrl != null" >
        SCENE_IMG_URL = #{sceneImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sceneImgContent != null" >
        SCENE_IMG_CONTENT = #{sceneImgContent,jdbcType=VARCHAR},
      </if>
      <if test="sceneImgVenueId != null" >
        SCENE_IMG_VENUE_ID = #{sceneImgVenueId,jdbcType=VARCHAR},
      </if>
      <if test="sceneStatus != null" >
        SCENE_STATUS = #{sceneStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SCENE_IMG_ID = #{sceneImgId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectSceneImgList" resultMap="BaseResultMap" parameterType="com.sun3d.why.model.ccp.CcpSceneImg" >
  	select 
    	cci.SCENE_IMG_ID, 
    	cci.USER_ID, 
    	cci.SCENE_IMG_URL, 
    	cci.SCENE_IMG_CONTENT, 
    	cci.SCENE_IMG_VENUE_ID, 
    	<if test="userId!=null">
	    	IF((SELECT count(*)
	        FROM ccp_scene_vote ccv
	        WHERE ccv.SCENE_IMG_ID = cci.SCENE_IMG_ID 
	        and ccv.USER_ID = #{userId} 
	        and DATE_FORMAT(ccv.CREATE_TIME, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
	        )>0,1,0) as IS_VOTE,
	    </if>
    	(SELECT count(*)
        FROM ccp_scene_vote ccv
        WHERE ccv.SCENE_IMG_ID = cci.SCENE_IMG_ID 
        <!-- 查询本月投票 -->
        <if test="isMonth==1">
        	and date_format(ccv.CREATE_TIME,'%Y-%m') = date_format(now(),'%Y-%m') 
        </if>
        ) as VOTE_COUNT,
	    ctu.USER_NAME,
		ctu.USER_HEAD_IMG_URL,
    	cci.CREATE_TIME
    from ccp_scene_img cci
    LEFT JOIN cms_terminal_user ctu ON ctu.USER_ID = cci.USER_ID
    where 1=1
    <if test="sceneImgId != null">
    	and cci.SCENE_IMG_ID = #{sceneImgId}
    </if>
    <if test="sceneStatus != null">
    	and cci.SCENE_STATUS = #{sceneStatus}
    </if>
    <!-- 查询自己上传的图片 -->
	<if test="isMe==1">
		and cci.USER_ID = #{userId}
	</if>
	<if test="sceneImgVenueId != null and sceneImgVenueId != ''">
		and cci.SCENE_IMG_VENUE_ID = #{sceneImgVenueId}
	</if>
	GROUP BY cci.SCENE_IMG_ID
	ORDER BY <if test="isVoteSort==1">VOTE_COUNT desc,</if>cci.CREATE_TIME desc
	<if test="firstResult != null">
		limit ${firstResult},${rows}
	</if>
  </select>
</mapper>