<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.ccp.CcpWalkUserMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.ccp.CcpWalkUser" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
    <result column="USER_MAX_VOTE" property="userMaxVote" jdbcType="INTEGER" />
    <result column="USER_MAX_IMG" property="userMaxImg" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    
    <result column="USER_HEAD_IMG_URL" property="userHeadImgUrl" jdbcType="VARCHAR" />
    <result column="USER_NICK_NAME" property="userNickName" jdbcType="VARCHAR" />
    <result column="WALK_IMG_CONTENT" property="walkImgContent" jdbcType="VARCHAR" />
    <result column="WALK_IMG_URL" property="walkImgUrl" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    USER_ID, USER_NAME, USER_MOBILE,USER_MAX_VOTE,USER_MAX_IMG, CREATE_TIME
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ccp_walk_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ccp_walk_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.sun3d.why.model.ccp.CcpWalkUser" >
    insert into ccp_walk_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      USER_ID,
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userMobile != null" >
        USER_MOBILE,
      </if>
      <if test="userMaxVote != null" >
        USER_MAX_VOTE,
      </if>
      <if test="userMaxImg != null" >
        USER_MAX_IMG,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{userId,jdbcType=VARCHAR},
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userMaxVote != null" >
        #{userMaxVote,jdbcType=INTEGER},
      </if>
      <if test="userMaxImg != null" >
        #{userMaxImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.sun3d.why.model.ccp.CcpWalkUser" >
    update ccp_walk_user
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userMaxVote != null" >
        USER_MAX_VOTE = #{userMaxVote,jdbcType=INTEGER},
      </if>
      <if test="userMaxImg != null" >
        USER_MAX_IMG = #{userMaxImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  
  <select id="queryWalkUserRanking" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
  		ccu.USER_ID, 
  		ccu.USER_NAME, 
  		ccu.USER_MOBILE,
  		ccu.USER_MAX_VOTE,
  		ccu.USER_MAX_IMG,
  		ccu.CREATE_TIME,
  		ctu.USER_NAME as USER_NICK_NAME,
		ctu.USER_HEAD_IMG_URL,
		cci.WALK_IMG_URL, 
		cci.WALK_IMG_NAME, 
    	cci.WALK_IMG_CONTENT
  	from ccp_walk_user ccu
  	LEFT JOIN cms_terminal_user ctu ON ctu.USER_ID = ccu.USER_ID
  	INNER JOIN ccp_walk_img cci ON cci.WALK_IMG_ID = ccu.USER_MAX_IMG
  	where cci.WALK_STATUS=1
  	ORDER BY ccu.USER_MAX_VOTE desc,cci.CREATE_TIME
  	limit 0,10
  </select>
  
  <select id="selectRankingByVoteCount" resultType="java.lang.Integer" >
    SELECT COUNT(*)+1 
    FROM ccp_walk_user ccu
    LEFT JOIN ccp_walk_img cci ON cci.WALK_IMG_ID = ccu.USER_MAX_IMG
	WHERE (ccu.USER_MAX_VOTE > #{voteCount} or (ccu.USER_MAX_VOTE = #{voteCount} and cci.CREATE_TIME &lt; #{createTime}))
	and cci.WALK_STATUS=1
  </select>
</mapper>