<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.ContactUsMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.ContactUs" >
    <id column="CONTACT_ID" property="contactId" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="CORPORATION" property="corporation" jdbcType="VARCHAR" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="CONTACT_TIME" property="contactTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CONTACT_ID, CONTACT_NAME, CORPORATION, CONTACT, CONTACT_TIME
  </sql>
  <select id="selectContact" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from contact_us
    <if test="firstResult != null">
      limit ${firstResult},${rows}
    </if>
  </select>
  <select id="selectContactCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select
    count(*)
    from contact_us
  </select>
  <insert id="insert" parameterType="com.sun3d.why.model.ContactUs" >
    insert into contact_us
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        CONTACT_ID,
      </if>
      <if test="contactName != null" >
        CONTACT_NAME,
      </if>
      <if test="corporation != null" >
        CORPORATION,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="contactTime != null" >
        CONTACT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        #{contactId,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="corporation != null" >
        #{corporation,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactTime != null" >
        #{contactTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>