<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun3d.why.dao.QygVoteMapper" >
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.qyg.QygVote" >
    <id column="VOTE_ID" property="voteId" jdbcType="VARCHAR" />
    <result column="ENTRY_ID" property="entryId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    VOTE_ID, ENTRY_ID, USER_ID, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qyg_vote
    where VOTE_ID = #{voteId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from qyg_vote
    where VOTE_ID = #{voteId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sun3d.why.model.qyg.QygVote" >
    insert into qyg_vote (VOTE_ID, ENTRY_ID, USER_ID, 
      CREATE_TIME)
    values (#{voteId,jdbcType=VARCHAR}, #{entryId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sun3d.why.model.qyg.QygVote" >
    insert into qyg_vote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="voteId != null" >
        VOTE_ID,
      </if>
      <if test="entryId != null" >
        ENTRY_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="voteId != null" >
        #{voteId,jdbcType=VARCHAR},
      </if>
      <if test="entryId != null" >
        #{entryId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sun3d.why.model.qyg.QygVote" >
    update qyg_vote
    <set >
      <if test="entryId != null" >
        ENTRY_ID = #{entryId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where VOTE_ID = #{voteId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sun3d.why.model.qyg.QygVote" >
    update qyg_vote
    set ENTRY_ID = #{entryId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where VOTE_ID = #{voteId,jdbcType=VARCHAR}
  </update>
  
  <select id="queryTodayVoteCount" resultType="java.lang.Integer" parameterType="com.sun3d.why.model.qyg.QygVote" >
    select count(*)
    from qyg_vote
    where entry_id = #{entryId} and USER_ID = #{userId} and DATE_FORMAT(CREATE_TIME, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
  </select>
  
</mapper>