<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun3d.why.dao.volunteer.VolunteerPictureMapper">
  <resultMap id="BaseResultMap" type="com.sun3d.why.model.volunteer.VolunteerPicture">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="location_id" jdbcType="VARCHAR" property="locationId" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="pic_site" jdbcType="VARCHAR" property="picSite" />
    <result column="pic_type" jdbcType="INTEGER" property="picType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, location_id, pic_name, pic_site, pic_type, status, create_time, create_id,
    update_time, update_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_volunteer_picture
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_volunteer_picture
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sun3d.why.model.volunteer.VolunteerPicture">
    insert into t_volunteer_picture (uuid, location_id, pic_name,
      pic_site, pic_type, status,
      create_time, create_id, update_time,
      update_id)
    values (#{uuid,jdbcType=VARCHAR}, #{locationId,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR},
      #{picSite,jdbcType=VARCHAR}, #{picType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{updateId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sun3d.why.model.volunteer.VolunteerPicture">
    insert into t_volunteer_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="locationId != null">
        location_id,
      </if>
      <if test="picName != null">
        pic_name,
      </if>
      <if test="picSite != null">
        pic_site,
      </if>
      <if test="picType != null">
        pic_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="locationId != null">
        #{locationId,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picSite != null">
        #{picSite,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        #{picType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sun3d.why.model.volunteer.VolunteerPicture">
    update t_volunteer_picture
    <set>
      <if test="locationId != null">
        location_id = #{locationId,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        pic_name = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picSite != null">
        pic_site = #{picSite,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        pic_type = #{picType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sun3d.why.model.volunteer.VolunteerPicture">
    update t_volunteer_picture
    set location_id = #{locationId,jdbcType=VARCHAR},
      pic_name = #{picName,jdbcType=VARCHAR},
      pic_site = #{picSite,jdbcType=VARCHAR},
      pic_type = #{picType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>